entrypoint = "README.md"
modules = ["postgresql-16"]

[nix]
channel = "unstable"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "bff build"]
run = ["sh", "-c", "./build/web"]

[languages.deno]
pattern = "**/*.{ts,js,tsx,jsx,json,jsonc,md,mdx}"
[languages.deno.languageServer]
start = ["deno", "lsp"]
[languages.deno.languageServer.initializationOptions]
enable = true
lint = true
config = "./deno.jsonc"

[workflows]
runButton = "Compile and run"

[[workflows.workflow]]
name = "Compile and run"
mode = "sequential"
author = 33272860

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bff build || (sleep 20 || exit 1)"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./build/web || (sleep 10 || exit 1)"

[[workflows.workflow]]
name = "Dev tools"
mode = "parallel"
author = 33272860

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sl web -f --no-open"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "deno jupyter --install && jupyter notebook --config ./infra/jupyter/config.py"

[[workflows.workflow]]
name = "Commit"
mode = "sequential"
author = 33272860

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bff commit"

[[ports]]
localPort = 3011
externalPort = 3001

[[ports]]
localPort = 5432
externalPort = 3002

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8888
externalPort = 3000

[objectStorage]
defaultBucketID = "replit-objstore-606cdad4-5695-4398-ba16-1878dd101ab7"

[extension]
isExtension = true

[env]
HISTFILE = "/home/runner/${REPL_SLUG}/.cache/bash_history"
HISTCONTROL = "ignoredups"
HISTFILESIZE = "100000"
HISTSIZE = "10000"
FLAG_DIRENV = "1"
REPLIT_PID1_FLAG_DIRENV = "1"
FLAKE_PATH = "$HOME/workspace/nix_system/bin"
INFRA_BIN_PATH = "$HOME/workspace/infra/bin"
PATH = "$INFRA_BIN_PATH:$FLAKE_PATH:$PATH"
REPLIT_PORT_THINGY="8284"
DENO_TRACE_PERMISSIONS="true"
DENO_NO_UPDATE_CHECK="1"
OTEL_EXPORTER_OTLP_HEADERS="authorization=$HYPERDX_INGESTION_KEY"
OTEL_EXPORTER_OTLP_ENDPOINT="https://in-otel.hyperdx.io"
OTEL_SERVICE_NAME="CONTENT_FOUNDRY"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
