.appPage {
  height: 100vh;
  background: var(--pageBackground) url(/static/assets/images/bf-symbol-angle-right_bw.jpg) no-repeat 0% 100% / auto 110%;
  background-blend-mode: multiply;
}
.appHeader {
  padding: 12px;
}
.appHeaderCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.appHeaderWelcomer {
  font-size: 24px;
}
.appHeaderLogo {
  width: 100%;
  max-width: 450px;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.videoPlayer {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: #424242;
  color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}