.appPage {
  height: 100vh;
  background: var(--pageBackground) url(/static/assets/images/bf-symbol-angle-right_bw.jpg) no-repeat 0% 100% / auto 110%;
  background-blend-mode: multiply;
}
.appHeader {
  padding: 12px;
}
.appHeaderCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.appHeaderWelcomer {
  font-size: 24px;
}
.appHeaderLogo {
  width: 100%;
  max-width: 450px;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.videoPlayer {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: #424242;
  color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}/* ContentOS */
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  width: 350px;
  padding: 12px;
}


/* VoiceSetup */
.voice-container {
  display: flex;
  justify-content: center;
  flex:1;
  align-items: center;
}

.voice-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}
.voice-section-header {
  display: flex;
  gap: 10px;
}
.voice-section h2 {
  font-family: var(--marketingFontFamily);
  font-size: 2.5em;
  margin: 0;
}
.voice-section-text,
.voice-section-voice-style {
  font-size: max(12px, 1vw);
  text-align: left;
  color: var(--textMarketing);
}
.voice-section-voice-style {
  border-radius: 10px;
  padding: 15px;
  background-color: var(--text015);
}
.voice-section-voice-style.highlight{
  background-color: var(--fourtharyColor015);
}


/* Editor */
.editor-container{
  background-color: var(--background);
  height: 100vh;
}
.brand-voice {
  border-bottom: 1px solid var(--border);
  padding-bottom: 10px;
}
.left-side-bar{
  min-width: 300px;
  flex:0;
  border-right: 1px solid var(--border);
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
.editor-workspace{
  overflow-y: auto;
}
.text-editor{
  flex:1;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.right-side-bar{
  min-width: 300px;
  flex:0;
  border-left: 1px solid var(--border);
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}