/* Blog */
.blog_page,
.blog_post {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: clip;
}

.blog_page a {
  color: var(--fourtharyColor);
  text-decoration: none;
}
.blog-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
  border-radius: 20px;
  background: var(--background);
}

.blog-navbar a {
  color: var(--text);
}

.blog-post-navbar a {
  color: white;
}
.blog-post-header-back {
  font-size: 0.8em;
}

.blog_page a:hover {
  text-decoration: underline;
}

.blog_page {
  background: radial-gradient(var(--background) 50%, transparent 100%), linear-gradient(in oklch -25deg, var(--secondaryColor) 40%, var(--fourtharyColor) 60%);
  background-size: 120% 210%;
  background-position: 40%;
}
.blog_post {
  background: linear-gradient(90deg, transparent 0%, var(--background) 25%, var(--background) 75%, transparent 100%);
  position: relative;
}
.blog_page_header {
  background: var(--transparentBackground);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}
.blog_post_header {
  background-size: cover;
  background-position: 50% 30%;
}

.blog_page_header_inner, .blog_post_header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog_page_header_inner,
.blog_post_header_inner,
.blog_list {
  padding: 16px 50px;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  box-sizing: border-box;
}
.blog_post_header_inner {
  aspect-ratio: 4 / 1;
  display: flex;
}
.blog_page_header .logo_container,
.blog_post_header .logo_container {
  position: relative;
  display: inline-block;
  z-index: 2;
  width: 277px;
  /* height: 25px; */
  /* aspect-ratio: 601 / 74; */
}
.blog_page_header .logo_container.cf,
.blog_post_header .logo_container.cf {
  /* aspect-ratio: 820 / 74; */
}
.blog_post_header .logo_container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  filter: blur(20px);
  transform: scale(1.5);
  z-index: -1;
}
.blog_page_header .logo_text,
.blog_post_header .logo_text {
  font-size: 2.7em;
  font-weight: 500;
  line-height: 1;
  color: var(--text);
}
.blog_post_header .logo_text {
  font-size: 1.5em;
  color: var(--alwaysWhite);
}

.blog_list {

}
.blog-page-list-item {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 36px auto;
  cursor: pointer;
}

.blog-page-hero {
  aspect-ratio: 2 / 1;
  color: var(--alwaysWhite);
  cursor: pointer;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.blog-hero-info {
  padding: 100px 20px 20px 20px;
  border-radius: 8px;
  background: linear-gradient(to top, black, transparent);
}

.blog-page-hero-title {
  color: var(--alwaysWhite);
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex: 1;
  font-size: 1.5em;
  font-weight: 700;
}

.blog-page-hero-author-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white 100% 100% / cover;
}

.blog-hero-author {
  padding-top: 10px;
}

.blog-page-hero-summary {
  color: var(--alwaysWhite);
  padding-top: 10px;
}

.blog-page-list-item-left {

}

.blog-page-list-item-right {
  flex-direction: row-reverse;
}

.blog-list-item-image {
  flex: 1;
  margin: 10px 0;
  border-radius: 8px;
  max-height: 20vh;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.blog-list-item-image-placeholder {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(var(--transcriptSelected),transparent 70%);
  min-width:150px;
  }



.blog-page-cta {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  background: var(--marketingBackgroundFourthary);
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  gap: 20px;
  text-align: center;
}

.blog-page-cta-text-area {
  font-size: 21px;
  color: var(--alwaysWhite);
  text-shadow: 0 0 18px rgba(0, 0, 0, .2);
}

.blog-page-lets-talk-button {
  min-width: 140px;
}


.blog-list-item-title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 8px;
}
.blog_status_tag {
  background: var(--secondaryColor015);
  border: 1px solid var(--secondaryColor);
  border-radius: 8px;
  font-size: 10px;
  vertical-align: middle;
  padding: 2px 6px;
  color: var(--secondaryColor);
  margin-left: 8px;
}

.blog-page-item-info {
  flex: 1;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: center;
}

.blog-page-item-info::-webkit-scrollbar {
  display: none;
}

.blog-page-item-info-glimmer {
  gap: 8px; 
  max-width: 50rem; 
  margin: 0 25rem;
}

.blog-list-item-summary {
  margin-top: 20px;
}

.blog-list-item-bottom-info {
  display: flex;
  flex-wrap: wrap;
}

.blog-list-item-bottom-info-item {
  padding-right: 12px;
}

.blog_post_cover_bg {
  position: absolute;
  top: 150px;
  filter: blur(35px);
  z-index: -1;
  width: 100%;
  height: 60%;
  min-height: 150px;
  background-size: cover;
  background-position: 50% 30%;
  transform: scale(1.5);
  opacity: 0.6;
  mask-image: linear-gradient(white, transparent);
}
.blog_post_cover {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  height: 300px;
  min-height: 150px;
  background-size: cover;
  background-position: center;
}
.blog_post_content {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, var(--background) 25%, var(--background) 75%, rgba(255, 255, 255, 0.5) 100%);
  padding: 20px 50px;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  flex: 1;
  box-sizing: border-box;
  line-height: 1.7;
}
.blog_post_content h1,
.blog_post_content h2,
.blog_post_content h3,

.blog_post_title {
  font-size: clamp(18px, 5vw, 48px);
  line-height: 1.1;
}
.blog_meta {
  font-size: 0.8em;
  color: var(--textSecondary);
}
.blog_author {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.blog_author_avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white 100% 100% / cover;
  background-position-y: 20%;
}
.blog_post_tag {
  font-size: 0.8em;
  padding: 2px 6px;
  background: var(--fourtharyColor015);
  border-radius: 6px;
  color: var(--fourtharyColor);
  margin-right: 4px;
}
.blog_post_image {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: contain;
  margin: 24px 0;
}

.blog_callout,
.blog_code {
  border-radius: 8px;
  padding: 20px;
  margin: 12px 0;
}
.blog_callout {
  background-color: var(--background);
  border: 1px solid var(--border);
}
.blog_callout.gray_background {
  background-color: var(--pageBackground);
  border-color: transparent;
}
.blog_callout.blue_background {
  background-color: var(--secondaryColor015);
  border-color: transparent;
}
.blog_callout.yellow_background {
  background-color: var(--primaryColor015);
  border-color: transparent;
}
.blog_callout.purple_background {
  background-color: var(--fourtharyColor015);
  border-color: transparent;
}
.blog_callout.red_background {
  background-color: var(--alert015);
  border-color: transparent;
}
.blog_callout_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.blog_callout_icon {
  font-size: 1.4em;
}
.blog_code {
  background-color: var(--pageBackground);
  font-family: var(--fontFamilyMono);
}

.richText.bold {
  font-weight: 700;
}
.richText.italic {
  font-style: italic;
}
.richText.strikethrough {
  text-decoration: line-through;
}
.richText.underlined {
  text-decoration: underline;
}
.richText.code {
  font-family: var(--fontFamilyMono);
  background-color: var(--pageBackground);
  padding: 4px 8px;
  border-radius: 6px;
}

/* mobile */
@media(max-width: 800px) {
  .blog_page_header .logo_container,
  .blog_post_header .logo_container {
    /* height: 16px;
    aspect-ratio: 601 / 74; */
    width: 177px;
  }
  .blog_page_header_inner {
    padding: 16px 30px;
  }
  .blog_post_header_inner {
    padding: 16px 20px;
  }
  .blog_list {
    padding: 16px 30px;
  }
  .blog-page-item-info {
    min-width: 150px;
  }
  .blog-page-list-item {
    gap: 0;
    flex-direction: column;
  }
  .blog-page-cta {
    gap: 10px;
    justify-content: space-evenly;
    margin-bottom: 100px;
    flex-wrap: wrap;
  }
  .blog-page-cta-text-area {
    font-size: 22px;
    text-align: center;
  }
  .blog_post_content {
    padding: 20px;
  }
  .blog-page-item-info-glimmer {
    gap: 8px;
    max-width: 50rem;
    margin: 0 40px;
  }
}