.tools-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
  background: white;
  box-sizing: border-box;
  padding: 10px 40px 40px;
  border-radius: 12px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--border);
}

.tools-h1 {
  font-family: var(--marketingFontFamily);
}

.tools-logo {
  width: 150px;
}

.tools-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}
.tools-label {
  justify-self: end;
  font-weight: bold;
}
